{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Document</title>
</head>
<body class="screen text-white">
    <div class="container-fluid pt-5">
        <h1 class="text-center">Add Your Category</h1>
        <div class="w-50 mx-auto mt-5 text-white" id="itembtn3">
            <form action="/addcategory/" method="post">
                {% csrf_token %}
                <input type="text" name="addcategory" id="" class="w-100 border-0 rounded p-2 w-100" placeholder="enter title">
                <textarea name="description" id="" cols="30" rows="6" class="w-100 p-2 rounded border-0 my-3" placeholder="Description"></textarea>
                <button type="submit" class="p-2 rounded border-0">Add Category</button>
            </form>
        </div>        
    </div>
</body>
</html>



